<?xml version="1.0"?>

<model>
  <name>human_worker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>The Construct</name>
    <email>info@theconstructsim.com</email>
  </author>

  <description>
    Modeled by: https://skfb.ly/6FPRB
    Ported and moded by RDaneelOlivaw of TheConstruct
  </description>
</model>
