<?xml version="1.0"?>

<model>
  <name>cute_mug</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>The Construct</name>
    <email>info@theconstructsim.com</email>
  </author>

  <description>
    Cute mug designed an dmodels by : https://skfb.ly/owF6G
    Ported by RDaneelOlivaw of TheConstruct
  </description>
</model>
